.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.grid {
  display: grid;
  width: 5rem 0;
  justify-content: center;
  margin-top: 5rem;
}
.grid1 {
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 21px);
}
.grid2 {
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(40, 21px);
}
.grid3 {
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(100, 21px);
}
.grid4 {
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(500, 21px);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
